<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div class="layui-fluid" id="VIEW-icon-index" lay-title="500">
        <div class="layui-row layui-col-space10" style="margin-top:100px">
            <div class="layui-col-xs4 layui-col-xs-offset2">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg" alt="" width="85%"/>
            </div>
            <div class="layui-col-xs6">
                <h1 style="font-size: 60px">500</h1>
                <h2 class="nepadmin-mar-b20 nepadmin-c-gray">抱歉，服务器出错了</h2>
                <button class="layui-btn layui-btn-normal">返回首页</button>
            </div>
        </div>
    </div>
</body>

</html>