<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户授权</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .layui-form-checked:hover span{
                background-color: #02a7f0;
            }
        </style>
    </head>

    <body>
        <div class="x-body">
            <form action="" method="post" class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        角色
                    </label>
                    <div class="layui-input-block">
                        <th:block th:each="role:${roles}">
                            <input th:checked="${#arrays.contains(roleIds, role.roleId)}" type="checkbox" name="role" th:value="${role.roleId}"
                                   th:title="${role.roleName}" title="角色名称">
                        </th:block>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left:0;text-align:center;">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <button class="layui-btn layui-btn-blue" lay-submit="" lay-filter="allocation">授权</button>
                    </div>
                </div>
            </form>
        </div>

        <script>
            layui.use(['form', 'layer'], function () {
                $ = layui.jquery;
                var form = layui.form
                    , layer = layui.layer;

                // 监听提交
                form.on('submit(allocation)', function (form) {
                    form.field.role = getCheckBoxValueByName('role');
                    var data = form.field;
                    $.post('/user/' + data.userId + "/allocation", data, function (result) {
                        handlerResult(result, allocationDone);
                    });
                    return false;
                });

                function allocationDone(data) {
                    layer.msg("授权成功", {icon: 6});
                }
            });
        </script>
    </body>

</html>