<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="UTF-8">
        <title>用户管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    </head>

    <body class="layui-anim layui-anim-fadein">
        <div class="x-nav">
            <span class="layui-breadcrumb">
            <a href="#">首页</a>
            <a href="#">权限管理</a>
            <a>
              <cite>角色管理</cite></a>
            </span>
            <a class="layui-icon layui-icon-refresh"
               style="float:right"
               href="javascript:location.replace(location.href);" title="刷新"></a>
        </div>

        <div class="x-body">
            <table class="layui-hide" id="user-table"></table>
        </div>

        <script type="text/html" id="toolbar">
            <a class="layui-btn layui-btn-xs" lay-event="add">新增</a>
        </script>

        <script type="text/html" id="column-toolbar">


            {{#  if('<shiro:principal property="username"/>' !== d.username) { }}
                <a class="layui-btn layui-btn-xs" lay-event="allocation">授权</a>

                {{#  if(d.status === '0') { }}
                    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="enable">激活</a>
                {{#  } }}

                {{#  if(d.status === '1') { }}
                    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="disable">禁用</a>
                {{#  } }}

                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
            {{#  } }}
        </script>

        <script>
            layui.use(['table', 'element', 'laydate'], function () {
                var table = layui.table;
                var $ = layui.$;

                table.render({
                    elem: '#user-table'
                    , url: '/user/list'
                    , page: true
                    , toolbar: '#toolbar'
                    , cols: [
                        [
                            {field: 'userId', title: 'ID', sort: true, width: "15%"}
                            , {field: 'username', title: '用户名', width: "20%"}
                            , {field: 'email', title: '邮箱', width: "20%"}
                            , {field: 'lastLoginTime', title: '最后登陆时间', width: "15%"}
                            , {field: 'status', title: '状态', templet: function (d) {
                                return d.status === '1' ? "正常" : "锁定";
                            }, width: "15%"}
                            , {title: '操作', align: 'center', toolbar: '#column-toolbar', width: "15%"}
                        ]
                    ]
                });

                table.on('toolbar', function (obj) {
                    var data = obj.data;
                    var event = obj.event;

                    if (event === 'add') {
                        x_admin_show("新增角色", "/user", 500, 500);
                    }
                });

                // 行点击事件
                table.on('tool', function (obj) {
                    var data = obj.data;
                    var event = obj.event;
                    if (event === 'allocation') {
                        x_admin_show("授权", '/user/' + data.userId + "/allocation", 500);
                    } else if (event === 'disable') {
                        $.post('/user/' + data.userId +'/disable', function (data) {
                            handlerResult(data, disableDone);
                        });
                    } else if (event === 'enable') {
                        $.post('/user/' + data.userId + '/enable', function (data) {
                            handlerResult(data, enableDone);
                        });
                    } else if (event === 'del') {
                        layer.msg("删除...");
                    }
                });

                function disableDone(data) {
                    parent.layer.msg("禁用成功");
                    table.reload('user-table');
                }

                function enableDone(data) {
                    parent.layer.msg("激活成功");
                    table.reload('user-table');
                }
            });
        </script>
    </body>

</html>