<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户添加</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-body">
            <form action="" method="post" class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        用户名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="username" name="username" lay-verify="required|username"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="email" class="layui-form-label">
                        邮箱
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="email" name="email" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="password" class="layui-form-label">
                        用户密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="password" name="password" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        状态
                    </label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" checked title="正常">
                        <input type="radio" name="status" value="0" title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        角色
                    </label>
                    <div class="layui-input-block">
                        <input th:each="role:${roles}" type="checkbox" name="role" th:value="${role.roleId}" th:title="${role.roleName}" title="角色名称">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" type="button" lay-submit="" lay-filter="add">添加</button>
                </div>
            </form>
        </div>

        <script>
            layui.use(['form', 'layer'], function () {
                $ = layui.jquery;
                var form = layui.form
                    , layer = layui.layer;

                form.verify({
                    username: function (value) {
                        if (!value) {
                            return '昵称不能为空';
                        }
                        console.log(1);
                        $.ajax({
                            url: 'checkUser',
                            type: 'get',
                            async: false,
                            dataType: 'json',
                            data: {username: value},
                            //验证用户名是否可用
                            success: function (data) {
                                return '当前用户名已被占用! ';
                            }
                        })
                        console.log(2);
                    }
                });

                // 监听提交
                form.on('submit(add)', function (form) {
                    console.log('1');
                    form.field.role = getCheckBoxValueByName('role');
                    $.post('/user', form.field, function (result) {
                        handlerResult(result, addDone);
                    });
                    return false;
                });

                function addDone(data) {
                    console.log("add result id : ", data);
                    layer.msg("添加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }

                function getCheckBoxValueByName(name) {
                    var checkedValue = [];
                    $('input[name="' + name + '"]:checked').each(function(){
                        checkedValue.push($(this).val());
                    });
                    return checkedValue;
                }
            });
        </script>
    </body>

</html>