@charset "utf-8";
@import url(../lib/layui/css/layui.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100%;
}

.login-bg {
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.login {
    margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

.login a.logo {
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}

.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #189F92;
    position: relative;
    color: #fff;
    font-size: 16px;
}

.login #darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

.login input[type=text],
.login input[type=file],
.login input[type=password],
.login input[type=email], select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
    color: #555555;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.login input[type=text]:focus,
.login input[type=file]:focus,
.login input[type=password]:focus,
.login input[type=email]:focus, select:focus {
    border: 1px solid #27A9E3;
}

.login input[type=submit],
.login input[type=button] {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    background-color: #189F92;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
}

.login hr {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
}

.login hr.hr15 {
    height: 15px;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.login hr.hr20 {
    height: 20px;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.x-body {
    padding: 20px;
}

.x-nav {
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}

.x-right {
    float: right;
}

.x-so {
    margin-bottom: 20px;
}

.x-so input.layui-input {
    width: 150px;
}

.x-so .layui-form-label {
    display: inline-block;
}

.x-so input.layui-input, .x-so input.layui-btn {
    display: inline-block;
}

.x-red {
    color: red;
}

.x-a {
    color: #1AA093;
}

.x-a:hover {
    color: #127F74;
}

.x-sort {
    height: 30px;
}

.x-show {
    cursor: pointer;
}

.layui-form-switch {
    margin-top: 0;
}

.layui-input:focus, .layui-textarea:focus {
    border-color: #189f92 !important;
}

.page {
    margin-top: 20px;
    text-align: center;

}

.page a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}

.page span {
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span.current {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #009688;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}

.page .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.page .pagination li.active span {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #009688;
    color: #fff;
    border: 1px solid #009688;

}

/*登录样式*/
/*头部*/
.container {
    width: 100%;
    height: 45px;
    background-color: #222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container .logo a {
    float: left;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    line-height: 45px;
    width: 200px;
}

.container .right {
    background-color: rgba(0, 0, 0, 0);
    float: right;

}

.container .left_open {
    height: 45px;
    float: left;
}

.container .left_open i {
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}

.container .left_open i:hover {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.container .left {
    background-color: rgba(0, 0, 0, 0);
    float: left;

}

.container .layui-nav-item {
    line-height: 45px;
}

.container .layui-nav-more {
    top: 20px;
}

.container .layui-nav-child {
    top: 50px;
}

.container .layui-nav-child i {
    margin-right: 10px;
}

.layui-nav .layui-nav-item a {
    color: #fff;
    cursor: pointer;
}

.layui-nav .layui-nav-child a {
    color: #333;
    cursor: pointer;
}

.left-nav {
    position: absolute;
    top: 46px;
    bottom: 0px;
    left: 0;
    z-index: 2;
    padding-top: 10px;
    background-color: #EEEEEE;
    width: 220px;
    max-width: 220px;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #e5e5e5;

    /*width: 0px;*/
}

.left-nav #nav li {
    border-bottom: 1px solid #e5e5e5;
}

.left-nav #nav li:hover > a {
    /*color: blue;*/
}

.left-nav #nav .current {
    background-color: rgba(0, 0, 0, 0.3);
}

.left-nav #nav li a {
    font-size: 14px;
    padding: 10px 15px 10px 20px;
    display: block;
    cursor: pointer;
}

.left-nav #nav li a cite {
    font-size: 14px;
}

.left-nav #nav li .sub-menu {
    display: none;
}

.left-nav #nav li .opened {
    display: block;
}

.left-nav #nav li .opened:hover {
    /*background: #fff url() 0 0 no-repeat;*/
}

.left-nav #nav li .opened .current {

}

.left-nav #nav li .sub-menu li:hover {
    /*color: blue;*/
    /*background: #fff url() 0 0 no-repeat;*/
}

.left-nav #nav li .sub-menu li a {
    padding: 12px 15px 12px 30px;
    font-size: 14px;
    cursor: pointer;
}

.left-nav #nav li .sub-menu li .sub-menu li a {
    padding-left: 45px;
}

.left-nav #nav li .sub-menu li a:hover {
    color: #148cf1;
}

.left-nav #nav li .sub-menu li a i {
    font-size: 12px;
}

.left-nav #nav li a i {
    padding-right: 10px;
    line-height: 14px;
}

.left-nav #nav li .nav_right {
    float: right;
    font-size: 16px;
}

.x-slide_left {
    width: 17px;
    height: 61px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/icon.png);
    position: absolute;
    top: 200px;
    left: 221px;
    cursor: pointer;
    z-index: 3;
}

.page-content {
    position: absolute;
    top: 46px;
    right: 0;
    bottom: 0px;
    left: 221px;
    overflow: hidden;
    z-index: 1;
}

.page-content-bg {
    position: absolute;
    top: 46px;
    right: 0;
    bottom: 0px;
    left: 221px;
    background: rgba(0, 0, 0, 0.5);
url() 0 0 no-repeat;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.page-content .tab {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #EFEEF0;
    margin: 0;
}

.page-content .layui-tab-title {
    /*padding-top: 5px;*/
    height: 35px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #EFEEF0;
    position: relative;
    z-index: 100;
}

.page-content .layui-tab-title li.home i {
    padding-right: 5px;
}

.page-content .layui-tab-title li.home .layui-tab-close {
    display: none;
}

.page-content .layui-tab-title li {
    line-height: 35px;
}

.page-content .layui-tab-title .layui-this:after {
    height: 36px;
}

.page-content .layui-tab-title li .layui-tab-close {
    border-radius: 50%;
}

.page-content .layui-tab-title .layui-this {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
}

.page-content .layui-tab-bar {
    height: 34px;
    line-height: 35px;
}

.page-content .layui-tab-content {
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
}

.page-content .layui-tab-content .layui-tab-item {
    width: 100%;
    height: 100%;

}

.page-content .layui-tab-content .layui-tab-item iframe {
    width: 100%;
    height: 100%;

}

.x-admin-carousel, .layui-carousel, .x-admin-carousel > [carousel-item] > * {
    background-color: #fff
}

.x-admin-backlog .x-admin-backlog-body {
    display: block;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #999;
    border-radius: 2px;
    transition: all .3s;
    -webkit-transition: all .3s
}

.x-admin-backlog-body h3 {
    padding-bottom: 10px;
    font-size: 12px
}

.x-admin-backlog-body p cite {
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
    color: #009688
}

.x-admin-backlog-body:hover {
    background-color: #CFCFCF;
    color: #888
}

.welcome-footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

body .layui-layout-admin .footer-demo {
    height: auto;
    padding: 15px 0;
    line-height: 26px;
}

.welcome-footer a {
    padding: 0 5px;
}

table th, table td {
    word-break: break-all;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 41px;
    color: #fff;
    /*padding-left: 10px;*/
}

.footer .copyright {
    margin-left: 10px;
}


@media screen and (max-width: 768px) {
    .fast-add {
        display: none;
    }

    .layui-nav .to-index {
        display: none;
    }

    .container .logo a {
        width: 140px;
    }

    .container .left_open {
        /*float: right;*/
    }

    .left-nav {
        left: -221px;
    }

    .page-content {
        left: 0;
    }

    .page-content .layui-tab-content .layui-tab-item {
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    .x-so input.layui-input {
        width: 100%;
        margin: 10px;
    }
}

/* layui 蓝色风格 */
.layui-form-checked span{
    background-color: #02a7f0;
}

.layui-form-checked i, .layui-form-checked:hover i {
    color: #02a7f0;
}

.layui-form-select dl dd.layui-this {
    background-color: #02a7f0;
}

.layui-btn-blue {
    background-color: #02a7f0;
}

.layui-form-onswitch {
    border-color: #02a7f0;
    background-color: #02a7f0;
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #02a7f0;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #02a7f0;
    background-color: #02a7f0;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #02a7f0;
}

.layui-treeSelect .ztree li a.curSelectedNode {
    color: #02a7f0 !important;
}