<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>页面添加</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .eleTree{
                border: 1px solid #ccc;
                overflow: hidden;
            }
        </style>
    </head>

    <body class="layui-anim layui-anim-fadein">
        <div class="x-body">
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="menuName" class="layui-form-label">
                        页面名称
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="menuName" name="menuName" th:value="${menu?.menuName}"
                               lay-verify="required" lay-vertype="tips"
                               autocomplete="off" placeholder="请输入页面名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="url" class="layui-form-label">
                        菜单URL
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="url" th:value="${menu?.url}" name="url"
                               lay-verify="required" lay-vertype="tips"
                               autocomplete="off" class="layui-input" placeholder="请输入需要授权的 URL">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="perms" class="layui-form-label">
                        权限标识
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="perms" th:value="${menu?.perms}" name="perms"
                               lay-verify="required" lay-vertype="tips"
                               autocomplete="off" class="layui-input" placeholder="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="parentId" class="layui-form-label">
                        上级菜单
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="parentName" lay-verify="required"
                               placeholder="请输入标题" autocomplete="off" class="layui-input" readonly>
                        <input type="hidden" name="parentId" id="parentId">
                        <div class="eleTree" id="parentTree" lay-filter="parentTree" style="display: none"></div>
                    </div>
                </div>

                <fieldset class="layui-elem-field">
                    <legend>备注</legend>
                    <div class="layui-field-box">
                        <div class="layui-form-mid layui-word-aux">
                            URL 支持 ?, *, ** 通配符。<br>
                            外部链接以 http(s):// 开头。
                        </div>
                    </div>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left:0;text-align:center;">
                        <input type="hidden" name="menuId" th:value="${menu?.menuId}">
                        <input type="hidden" name="type" value="1">
                        <button class="layui-btn layui-btn-blue" th:text="${menu}?'修改':'增加'" lay-submit="" data-th-lay-filter="${menu}?'edit':'add'">增加</button>
                    </div>
                </div>
            </form>
        </div>

        <script>
            layui.config({
                base: '/lib/layui/extend/'
            }).use(['form', 'layer', 'autocomplete', 'eleTree'], function () {
                var $ = layui.jquery,
                    form = layui.form,
                    layer = layui.layer,
                    autocomplete = layui.autocomplete,
                    eleTree = layui.eleTree;

                autocomplete.render({
                    elem: $('#url'),
                    url: '/system/urls',
                    template_val: '{{d.url}}',
                    template_txt: '{{d.url}} \
                        {{#  layui.each(d.type.split(","), function(index, item){ }} \
                            <span class="layui-badge layui-bg-gray">{{item}}</span>  \
                        {{#  }); }} \
                    ',
                    onselect: function (resp) {
                        console.log(resp);
                    }
                });

                eleTree.render({
                    elem: '#parentTree',
                    url: "/menu/tree",
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true,
                    defaultCheckedKeys: [2],
                    request: {
                        name: "name",
                        key: "id",
                        children: "children"
                    },
                    done: function(res) {
                        var parentId = getQueryString('parentId') ? getQueryString('parentId') : [[${menu?.parentId + ''}]] ;

                        var parent = getMenuTreeById(res.data, parentId);
                        if (parent) {
                            $("#parentName").val(parent.name);
                            $("#parentId").val(parent.id);
                        }
                    }
                });

                $("#parentName").on("click",function (e) {
                    e.stopPropagation();
                    $("#parentTree").toggle();
                });
                eleTree.on("nodeClick(parentTree)",function(d) {
                    $("#parentName").val(d.data.currentData.name);
                    $("#parentId").val(d.data.currentData.id);
                    $("#parentTree").hide();
                });
                $(document).on("click",function() {
                    $("#parentTree").hide();
                });

                //监听提交
                form.on('submit(add)', function (form) {
                    $.post('/menu', form.field, function (result) {
                        handlerResult(result, addDone);
                    });
                    return false;
                });

                //监听提交
                form.on('submit(edit)', function (form) {
                    form.field._method = 'PUT';
                    $.post('/menu', form.field, function (result) {
                        handlerResult(result, editDone);
                    });
                    return false;
                });

                
                function addDone(data) {
                    console.log("add result id : ", data);
                    layer.msg("添加成功", {icon: 6});
                }

                function editDone(data) {
                    console.log("edit result id : ", data);
                    layer.msg("修改成功", {icon: 6});
                }
            });
        </script>
    </body>

</html>