<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>菜单权限</title>
        <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
        <link rel="stylesheet" th:href="@{/lib/layui/extend/dtree.css}">
        <link rel="stylesheet" th:href="@{/lib/layui/extend/font/dtreefont.css}">
        <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <script type="text/javascript" src="//at.alicdn.com/t/font_1046816_zflltanvzro.js"></script>
    </head>
    <style>
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        html, body {
            height: 100%;
            margin:0;padding:0;
            font-size: 12px;
        }
        div{
            -moz-box-sizing: border-box;  /*Firefox3.5+*/
            -webkit-box-sizing: border-box; /*Safari3.2+*/
            -o-box-sizing: border-box; /*Opera9.6*/
            -ms-box-sizing: border-box; /*IE8*/
            box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
        }


        .x-nav {
            padding: 0 20px;
            position: relative;
            z-index: 99;
            line-height: 39px;
            border-bottom: 1px solid #e5e5e5;
            height: 39px;
            overflow: hidden;
        }
        .layui-btn-xstree {
            height: 35px;
            line-height: 35px;
            padding: 0px 5px;
            font-size: 12px;
        }
        .layui-table-body{overflow-x: hidden;}
        /* 去掉表格内容超出的提示*/
        .layui-table-tips-main{display:none}
        .layui-table-tips-c{display:none}
        .layui-table-grid-down{display: none}
        .layui-table-view .layui-table {width:100%}
    </style>

    <body class="layui-anim layui-anim-fadein" style="height: 100%">
        <div class="x-nav dHead" id="my-nav">
            <span class="layui-breadcrumb">
                <a href="#">首页</a>
                <a href="#">权限管理</a>
                <a><cite>菜单权限</cite></a>
            </span>
            <a class="layui-icon layui-icon-refresh"
               style="float:right"
               href="javascript:location.replace(location.href);" title="刷新"></a>
        </div>
        <div style="height: 100%">
            <div class="dBody">
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md3">
                            <div class="layui-card">
                                <div class="layui-card-header">菜单树</div>
                                <div class="layui-card-body" id="toolbarDiv">
                                    <ul id="demoTree" class="dtree" data-id="0"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md9">
                            <div class="layui-card">
                                <div class="layui-card-header" id="card-header">菜单列表</div>
                                <div class="layui-card-body">
                                    <table class="layui-hide" id="menu-table"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/html" id="column-toolbar">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="allocation">授予角色</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="column-toolbar2">
        <svg class="icon" aria-hidden="true" lay-event="up">
            <use xlink:href="#icon-shangyimian"></use>
        </svg>
        <svg class="icon" aria-hidden="true" lay-event="down">
            <use xlink:href="#icon-xiayimian"></use>
        </svg>
        <svg class="icon" aria-hidden="true" lay-event="top">
            <use xlink:href="#icon-zhidingmian"></use>
        </svg>
        <svg class="icon" aria-hidden="true" lay-event="bottom">
            <use xlink:href="#icon-zhidimian"></use>
        </svg>
    </script>

    <script>
        layui.config({
            base: '/lib/layui/extend/'
        }).use(['jquery', 'dtree', 'layer', 'table', 'element'], function () {
            var dtree = layui.dtree;
            var layer = layui.layer;
            var table = layui.table;

            var DTree = dtree.render({
                elem: "#demoTree",
                url: "/menu/tree2",
                dataStyle: "layuiStyle",
                initLevel: 5,   // 初始打开节点级别
                method: "GET",
                dot: false,     // 圆点是否显示
                toolbar: true,  // 右键工具栏
                menubar: true,  // 树上方工具栏, 展开、收缩、刷新、搜索等
                toolbarShow: [],
                toolbarScroll: "#toolbarDiv",
                toolbarExt: [
                    {
                        toolbarId: "add",
                        icon: "dtree-icon-roundadd",
                        title: "添加子节点",
                        handler: function (node, $div) {
                            layer.open({
                                content: "/menu/page?parentId=" + node.nodeId,
                                title: "添加子节点",
                                area: ['600px', '600px'],
                                type: 2,
                                maxmin: true,
                                shadeClose: true,
                                end: function () {
                                    refresh();
                                }
                            });
                        }
                    },
                    {
                        toolbarId: "edit",
                        icon: "dtree-icon-bianji",
                        title: "编辑",
                        handler: function (node, $div) {
                            edit(node.nodeId);
                        }
                    },
                    {
                        toolbarId: "remove",
                        icon: "dtree-icon-roundclose",
                        title: "删除",
                        handler: function (node, $div) {
                            del(node.nodeId);
                            refresh();
                        }
                    }
                ],
                response: {
                    statusCode: 0,
                    message: "msg",
                    treeId: "id",
                    parentId: "parentId",
                    title: "name"
                },
                toolbarFun:{
                    loadToolbarBefore: function(buttons, param, $div){
                        if(param.level === "1"){ // 如果是顶级节点, 则取消编辑和删除功能.
                            buttons.edit = "";
                            buttons.remove = "";
                        }
                        return buttons;
                    }
                }
            });

            table.render({
                elem: '#menu-table'
                , url: '/menu/list'
                , where: {
                    parentId: 0
                }
                , cellMinWidth: 80
                , toolbar: '#toolbar'
                , cols: [
                    [
                        {field: 'id', title: 'ID', width: "7%"}
                        , {field: 'name', title: '名称', width: "15%"}
                        , {field: 'url', title: '地址', width: "25%"}
                        , {field: 'perms', title: '权限标识符', width: "12%"}
                        , {title: '操作', align: 'center', toolbar: '#column-toolbar'}
                        , {title: '排序', fixed: 'right', width: "15%", align: 'center', toolbar: '#column-toolbar2'}
                    ]
                ]
            });

            dtree.on("node('demoTree')", function (obj) {
                table.reload('menu-table', {
                    where: {
                        parentId: obj.param.nodeId
                    }
                });
                $("#card-header").html("[" + obj.param.context + "]的子菜单");
            });


            table.on('tool', function (obj) {
                var data = obj.data;
                if (obj.event === 'allocation') {
                    layer.open({
                        content: '/menu/' + data.id + "/allocation",
                        title: "授权[" + data.name + "]给角色",
                        area: ['500px','500px'],
                        type: 2,
                        maxmin: true,
                        shadeClose: true
                    });
                } else if (obj.event === 'edit') {
                    edit(data.id);
                } else if (obj.event === 'del') {
                    del(data.id);
                } else if (obj.event === "up") {
                    var swapId = $(obj.tr).prev().find("td[data-field='id'] div").html();
                    var currentId = data.id;
                    if (typeof swapId == 'undefined') {
                        layer.msg("已是第一层");
                        return;
                    }
                    swapSort(currentId, swapId);
                } else if (obj.event === "down") {
                    var swapId = $(obj.tr).next().find("td[data-field='id'] div").html();
                    var currentId = data.id;
                    if (typeof swapId == 'undefined') {
                        layer.msg("已是最后一层");
                        return;
                    }
                    swapSort(currentId, swapId);
                } else if (obj.event === "top") {
                    var swapId = $("tr[data-index='0']").first().parent().children().first().find("td[data-field='id'] div").html();
                    var currentId = data.id;
                    swapSort(currentId, swapId);
                } else if (obj.event === "bottom") {
                    var swapId = $("tr[data-index='0']").first().parent().children().last().find("td[data-field='id'] div").html();
                    var currentId = data.id;
                    swapSort(currentId, swapId);
                }
            });

            function swapSort(currentId, swapId) {
                $.post('/menu/swap', {currentId: currentId, swapId: swapId}, function (data) {
                    layer.msg("交换成功");
                    handlerResult(data, function () {
                        refresh();
                    });
                });
            }

            function del(id) {
                layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除！", {icon: 3, title: '提示'},
                    function (index) {//确定回调
                        $.post('/menu/' + id, {_method: "DELETE"}, function (data) {
                            layer.close(index);
                            handlerResult(data, function () {
                                refresh();
                            });
                        });
                    }, function (index) {//取消回调
                        layer.close(index);
                    }
                );
            }

            function refresh() {
                table.reload("menu-table");
                DTree.menubarMethod().refreshTree();
            }


            function edit(id) {
                layer.open({
                    content: '/menu/page/' + id,
                    title: "编辑",
                    area: ['500px', '500px'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true,
                    end: function () {
                        refresh();
                    }
                });
            }
        });
    </script>
</html>