<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>菜单添加</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="./lib/jquery/jquery.min.js" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-body">
            <form action="" method="post" class="layui-form">
                <div class="layui-form-item">
                    <label for="menuName" class="layui-form-label">
                        菜单名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="menuName" name="menuName" th:value="${menu?.menuName}" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        菜单类型
                    </label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" th:checked="${menu?.type == '0' ? true: false}" value="0" title="菜单">
                        <input type="radio" name="type" th:checked="${menu?.type == '1' ? true: false}" value="1" title="按钮">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="url" class="layui-form-label">
                        菜单URL
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="url" th:value="${menu?.url}" name="url" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="perms" class="layui-form-label">
                        菜单标识
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="perms" th:value="${menu?.perms}" name="perms" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        选择权限
                    </label>
                    <div class="layui-input-block">
                        <div id="LAY-auth-tree-index"></div>
                    </div>
                </div>
                -->
                <div class="layui-form-item">
                    <label for="parentId" class="layui-form-label">
                        上级菜单
                    </label>
                    <div class="layui-input-inline">
                        <select name="parentId" id="parentId">
                            <option value="">请选择上级菜单</option>
                            <option th:each="menu:${menus}" th:value="${menu.menuId}" th:text="${menu.menuName}" value="3">音乐</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" name="menuId" th:value="${menu?.menuId}">
                    <button class="layui-btn" th:text="${menu}?'修改':'增加'" lay-submit="" data-th-lay-filter="${menu}?'edit':'add'">增加</button>
                </div>
            </form>
        </div>

        <script>
            layui.use(['form', 'layer'], function () {
                $ = layui.jquery;
                var form = layui.form
                    , layer = layui.layer;

                //监听提交
                form.on('submit(add)', function (form) {
                    console.log(form.field);
                    //发异步，把数据提交给php
                    $.post('/menu', form.field, function (result) {
                        handlerResult(result, addDone);
                    });
                    return false;
                });

                //监听提交
                form.on('submit(edit)', function (form) {
                    console.log(form.field);
                    //发异步，把数据提交给php
                    form.field._method = 'PUT';
                    console.log(form.field);
                    $.post('/menu', form.field, function (result) {
                        handlerResult(result, editDone);
                    });
                    return false;
                });

                
                function addDone(data) {
                    console.log("add result id : ", data);
                    layer.msg("添加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }

                function editDone(data) {
                    console.log("edit result id : ", data);
                    layer.msg("修改成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });
        </script>
    </body>

</html>