<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>角色管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="./lib/jquery/jquery.min.js" th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    </head>

    <body class="layui-anim layui-anim-fadein">
        <div class="x-nav">
            <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统管理</a>
            <a>
              <cite>角色管理</cite></a>
            </span>
            <a class="layui-icon layui-icon-refresh"
               style="float:right"
               href="javascript:location.replace(location.href);" title="刷新"></a>
        </div>

        <div class="x-body">
            <table class="layui-hide" id="role-table"></table>
        </div>

        <script type="text/html" id="toolbar">
            <a class="layui-btn layui-btn-xs" lay-event="add">新增</a>
        </script>

        <script type="text/html" id="column-toolbar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

        <script>
            layui.use(['table', 'element'], function () {
                var table = layui.table;
                var $ = layui.$;

                table.render({
                    elem: '#role-table'
                    , url: '/roles/list'
                    , cellMinWidth: 80
                    , page: true
                    , toolbar: '#toolbar'
                    , cols: [
                        [
                            {field: 'roleId', title: 'ID', sort: true}
                            , {field: 'roleName', title: '名称'}
                            , {field: 'remark', title: '描述'}
                            , {title: '操作', align: 'center', toolbar: '#column-toolbar'}
                        ]
                    ]
                });

                table.on('toolbar', function (obj) {
                    var data = obj.data;
                    var event = obj.event;

                    if (event === 'add') {
                        x_admin_show("新增角色", "role");
                    }
                });

                table.on('tool', function (obj) {
                    var data = obj.data;
                    var event = obj.event;

                    if (event === 'edit') {
                        x_admin_show("编辑角色", "role/" + data.roleId);
                    } else if (event === 'del') {
                        layer.msg("del...");
                    }
                });
            });
        </script>
    </body>

</html>